@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0.01em;
  padding: 0.01em;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", Verdana, sans-serif;
}

.logo {
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
  width: 100px;
  height: 78px;
  left: 20px;
  top: 9px;
}

.logo-placeholder {
  padding-top: 10px;
}

.nav-links {
  float: right;
  margin-left: 10px;
}

.hamburger-button {
  cursor: pointer;
}

.title {
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  color: #172b4d;
  width: 80%;
  padding-top: 2em;
  position: relative;
  top: 20px;
}

header {
  display: flex;
  padding: 10px;
  position: relative;
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.menu-bar {
  position: absolute;
  width: 100px;
  height: 718px;
  left: 360px;
}

.social-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
  top: 35px;
}

.social-icons {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 1.1em;
  position: relative;
  top: 30px;
  padding: 10px;
  padding-left: 0;
  width: 170.17px;
  height: 20px;
}

.about-me {
  padding-right: 17px;
  position: relative;
  width: 327px;
  height: 146px;
  top: 25px;
  font-family: "Poppins", Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #fff;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  background-image: url(./images/header-shapes\ mobile.png);
  position: absolute;
  min-height: 10vh;
  width: 100%;
  padding-left: 30px;
  padding-right: 50px;
  height: 730px;
  top: 100px;
}

.about-myself-title {
  position: relative;
  top: 200px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  width: 10px;
  line-height: 50px;
  padding-top: 2em;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  margin: -27px;
  margin-top: 80px;
}

.card {
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.card1 {
  background: url(./img/Snapshoot-Portfolio-1.png) no-repeat center center;
}

.card2 {
  background: url(./img/Snapshoot-Portfolio-2.png) no-repeat center center;
}

.card3 {
  background: url(./img/Snapshoot-Portfolio-3.png) no-repeat center center;
}

.card4 {
  background: url(./img/Snapshoot-Portfolio-4.png) no-repeat center center;
}

.card-languages {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 210px;
  margin-right: auto;
  padding: 0 10px;
  font-family: "Poppins", Verdana, sans-serif;
  flex-wrap: wrap;
}

.card-lang1 {
  width: 50px;
  text-align: center;
  background: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border-radius: 7px;
  height: 23px;
  font-weight: 400;
  padding-top: 5px;
}

.card-lang2 {
  width: 35px;
  text-align: center;
  background: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border-radius: 7px;
  height: 23px;
  font-weight: 400;
  padding-top: 5px;
}

.card-lang3 {
  width: 80px;
  text-align: center;
  background: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border-radius: 7px;
  height: 23px;
  font-weight: 400;
  padding-top: 5px;
}

.card-lang4 {
  display: none;
}

.about-myself {
  width: 100%;
  height: auto;
  border: 1px solid #fff;
  border-top-right-radius: 80px;
  background: #fff;
  padding-top: 100px;
  margin-bottom: 5em;
}

.my-resume {
  list-style: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0.5em;
  padding: 0;
}

.resume-title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.connect {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
}

.prog-languages li {
  background: #f7f7f9;
  width: 270px;
  height: 50px;
  margin: 3px;
  font-size: 15px;
  font-style: normal;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prog-languages img {
  padding-right: 20px;
}

.about-container {
  padding: 0 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  min-height: 10vh;
  width: 100%;
  padding-left: 30px;
  padding-right: 50px;
  height: 730px;
  top: 100px;
}

.item {
  background-color: white;
  width: 327px;
  height: 568px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  margin-bottom: 80px;
}

.title-project2 {
  margin-top: 0;
  margin-bottom: -12px;
}

.title-project {
  margin-top: -1px;
  margin-bottom: -15px;
}

.item img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  margin-left: 12px;
}

.item h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 12px;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  margin-left: 13px;
}

.type img {
  width: 8px;
  height: 8px;
  fill: #505f79;
  border-color: #172b4d;
  border-radius: 30px;
}

.t1 {
  color: #344563;
}

.t2,
.t3 {
  color: #7a867a;
}

.text {
  width: 275px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #344563;
  margin: 0 0 2px 12px;
}

.tech {
  float: right;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  width: 180px;
  margin-left: -30px;
  text-decoration: none;
  list-style: none;
  white-space: nowrap;
}

.language {
  width: fit-content;
  display: inline-block;
  height: 26px;
  color: #6070ff;
  padding: 4px;
  padding-left: 1px;
  padding-right: 16px;
  margin-right: 8px;
  background-color: #ebebff;
  border-radius: 8px;
  font-weight: 500;
}

button {
  background-color: white;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  border: 1px solid #396df2;
  border-radius: 6px;
  width: 160px;
  height: 44px;
  margin-top: 20px;
}

.item button {
  margin-left: 12px;
}

button:hover {
  color: white;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  background: #2230d2;
  color: white;
}

.about {
  background-image: none;
  background-color: white;
  width: 355px;
  height: 1070px;
  border: solid white;
  border-radius: 0 50px 0 0;
  display: flex;
  justify-content: space-around;
}

.about h2 {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  margin-bottom: 0;
}

.about-me-resume {
  width: 360px;
  margin-bottom: 0;
}

.see-project {
  margin-top: 4px;
}
