@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";

/* HTML5 Reset Stylesheets. */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
ul,
li,
form,
article,
footer,
header,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
footer,
header,
nav,
section,
img,
main {
  display: block;
}

li {
  list-style: none;
}

nav ul {
  list-style: none;
}

a .links {
  display: none;
}

nav {
  display: none;
}

section .img-version-desktop {
  display: none;
}

div .desktop-title {
  display: none;
}

p .desktop-para {
  display: none;
}

div .desktop-title {
  display: none;
}

div .desktop-title1 {
  display: none;
}

div .desktop-version-h2 {
  display: none;
}

div .desktop-title2 {
  display: none;
}

div .desktop-version-h22 {
  display: none;
}

.desktop-version-li1 {
  display: none;
}

.desktop-version-li2 {
  display: none;
}

.desktop-version-span-container {
  display: none;
}

header {
  position: relative;
  margin: -1rem;
  width: 375px;
  height: 92px;
  left: 15px;
  top: 28px;
}

.logo {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #6070ff;
  position: relative;
  width: 100px;
  height: 78px;
  left: 20px;
  top: 9px;
  animation: rotate 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hamburger-button {
  position: relative;
  cursor: pointer;
  width: 27px;
  height: 8px;
  left: -20px;
  top: 37px;
}

.menu-bar {
  position: absolute;
  width: 100px;
  width: 27px;
  height: 718px;
  left: 360px;
  left: 347px;
  top: -31px;
}

.menu-button {
  width: 24px;
  height: 24px;
}

.wrapper {
  position: relative;
  background: #e5e5e5;
  height: auto;
  width: 1440px;
  margin: 0 auto;
}

section.intro {
  width: 375px;
  height: 604px;
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position-y: -15px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom-left-radius: 100px;
}

.container-global {
  background-image: url("/images/header-shapes-mobile.png");
}

.title.description {
  margin: 64px 27px 17px;
  width: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

h1.title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 24px;
  margin-left: 0;
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

p.description {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.btn-see-projects {
  width: auto;
  height: auto;
  margin: 12px 16px;
}

.btn-see-projects a {
  color: #396df2;
  padding: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
}

.button-connect-about {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.btn-see-projects-about a {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

div.btn-see-projects-about {
  margin-left: 142px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.social.container {
  margin: 12px 24px;
  height: auto;
}

.social.container a {
  display: block;
  width: 128px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

ul.social-icons {
  display: flex;
  margin-top: 12px;
  align-items: center;
}

ul.social-icons li img {
  margin-right: 19.01px;
}

.works {
  display: grid;
  background: #fff;
  width: 327px;
  height: 552px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  align-items: center;
  margin: 40px 24px;
}

.img-version-mobile {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  margin-top: -5px;
}

.grid-container-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 295px;
  height: 288px;
}

.about {
  width: 375px;
  margin-top: -779px;
  position: absolute;
  border-top-right-radius: 100px;
  background: #FFFFFF;
  height: 1263px;
  left: 0px;
  top: 3856px;
  /* display: grid;
  margin: 70px 2px;
  grid-template-columns: 1fr 1fr;
  border-top-right-radius: 100px;
  background: #FFFFFF;
  margin-bottom: 12rem;
  justify-items: start;
  justify-content: center;
  align-items: center;
  border-right: 16px;
  width: 375px;
  height: 1263px; */
}

.grid-container-desktop-about {
  width: 600px;
  height: 392px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  row-gap: 12px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.title-about {
  margin-left: -145px;
  margin-bottom: 12px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 37px;
  height: 101px;
  top: 68px;
}

.title-about h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.paragraph-about {
  margin-left: -145px;
  position: relative;
  width: 329px;
  height: 144px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  top: 60px;
}

.paragraph-about p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.container-social-about {
  height: auto;
  width: 200px;
  margin-right: 142px;
  margin-top: 76px;
  margin-left: -142px;
}

.card-container-2.works.languages-list-about {
  margin-top: 198px;
  margin-right: 132px;
  margin-left: 25px;
}

.languages-list-about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 427px;
  height: 764.15px;
  left: -50px;
  top: 150px;
}

.languages-list-names-about {
  /* display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 1fr; */

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  width: 327px;
  height: 320.15px;
  top: -40px;
  left: -15px;
}

.languages-list-names-about p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #344563;
}

.frameworks-about,
.skills-about {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7f9;
}

.flex-lang li {
  margin-right: 8px;
}

.flex-icone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  width: 327px;
  height: 320.15px;
  top: -40px;
  left: -15px;
}

.languages-list-about ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

.paragraph p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.skills p {
  width: 237px;
  margin-right: 12px;
}

.frameworks p {
  width: 237px;
  margin-right: 12px;
}

.contact-content p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  color: #ebebff;
  height: 136px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.languages-list-about li p {
  margin: 10px 0;
}

.span-about {
  height: 100px;
  width: 122px;
  margin-right: 33px;
  background: #f7f7f9;
  border-radius: 8px;
}

div.card-container-2 {
  height: 360px;
  width: 684px;
}

.card-container-1 {
  width: auto;
  height: auto;
  margin: 12px 16px;
}

img.img-version-desktop {
  display: none;
}

.title {
  width: auto;
  height: auto;
  margin: 12px 16px;
}

.about h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.title.experience {
  width: auto;
  height: auto;
  margin: -4px 9px;
}

h1.desktop-title {
  display: none;
}

.experience h1 {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

p.desktop-para {
  display: none;
}

.flex-container-list {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

div .mobile-version-h2 {
  width: 55px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #344563;

}

div .mobile-title2 {
  width: 295px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  margin-top: -34px;
  margin-left: -4px;
}

div .mobile-title {
  width: 295px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  margin-top: -16px;
  margin-bottom: -30px;
}

.flex-container-list li:first-child {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 32px;
}

.flex-container-list li:nth-child(2) {
  list-style: disc;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-right: 32px;
}

.flex-container-list li:last-child {
  list-style: disc;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.paragraph {
  width: auto;
  height: auto;
  margin: 12px 16px;
}

.languages {
  width: auto;
  height: auto;
  margin: 12px 16px;
}

.flex-lang {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.flex-lang li span {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.languages-list {
  width: auto;
  height: auto;
  margin: 24px 24px 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.languages-list-names {
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 1fr;
}

.enabled-icon {
  color: #acb7c3;
  opacity: 0.5;
  float: right;
  position: relative;
  right: -7px;
  top: -17px;
}

.languages-list li p {
  margin: 10px 0;
}

.row-icone {
  width: 12px;
  color: #acb7c3;
  opacity: 0.5;
  right: 20px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

ul.flex-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-span {
  background: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: auto;
  padding: 0;
  margin: 6px;
}

.icone {
  display: flex;
  align-items: center;
}

img.fav {
  margin-right: 16px;
}

li.frameworks,
li.skills {
  border-bottom: 1px solid #f7f7f9;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.contact-form {
  margin-top: 74rem;
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position-x: 350px;
  padding: 80px 10px 10px;
  border-top-left-radius: 120px;
  text-align: center;
  position: absolute;
  width: 375px;
  height: 779px;
  left: 0px;
}

.contact-content h1 {
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
  height: 56px;
  font-size: 40px;
  line-height: 56px;
  margin: 20px 0;
}

.name-container input {
  font-family: Poppins, sans-serif;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 80%;
  margin-top: 20px;
  height: 48px;
  padding-left: 5px;
}

.mail-container input {
  font-family: Poppins, sans-serif;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 80%;
  margin-top: 20px;
  height: 48px;
  padding-left: 5px;
}

.textarea-container textarea {
  font-family: Poppins, sans-serif;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 80%;
  margin-top: 20px;
  height: 170px;
  padding-left: 5px;
}

button {
  width: 140px;
  height: 48px;
  margin-left: 40px;
  border: 1px solid #6070ff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

@media only screen and (min-width: 768px) {
  .img-version-mobile {
    display: none;
  }

  p .mobile-para {
    display: none;
  }

  h1 .mobile-title {
    display: none;
  }

  h2 .mobile-version-h2 {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px -100px 9px 9px;
    align-items: center;
    width: auto;
  }

  nav {
    display: flex;
    width: auto;
    margin-right: -25rem;
  }

  nav a.links {
    font-family: "Poppins", sans-serif;
    margin-right: 35px;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    text-decoration: none;
  }

  .logo {
    margin: 16px 716px -16px 106px;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    color: #6070ff;
    position: relative;
    text-decoration: none;
  }

  .hamburger-button {
    display: none;
  }

  .menu-bar {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .menu {
    display: none;
  }

  .wrapper {
    position: relative;
    background: #e5e5e5;
    height: auto;
    width: 182%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.intro {
    height: 800px;
    background-image: url("/images/Header\ bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -20px;
    background-position-x: -20px;
    border-bottom-left-radius: 160px;
    width: 1440px;
  }

  div.container-global {
    width: 100%;
    height: auto;
    flex-direction: column;
    position: relative;
    top: -82px;
    margin: 0 auto;
  }

  .title {
    width: auto;
    height: auto;
    margin: -40px 16px;
  }

  h1.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
    margin: 289px 260px 12px;
  }

  p.description {
    margin: 12px 260px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .social.container {
    margin: 12px 287px;
  }

  .btn-see-projects-about a {
    display: block;
    width: 162px;
    height: 26px;
    color: #396df2;
    padding: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #6070ff;
    border-radius: 8px;
    text-decoration: none;
  }

  .btn-see-projects a {
    display: block;
    color: #396df2;
    padding: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #6070ff;
    border-radius: 8px;
    text-decoration: none;
  }

  .btn-see-projects a:hover {
    background: #6070ff;
    color: #fff;
    box-shadow: 0 8px 16px rgb(64 83 252 / 24%);
    border-radius: 8px;
  }

  .btn-see-projects a:active {
    background: #2230d2;
    border-radius: 8px;
    color: #ffff;
  }

  .social.container a {
    margin: 12px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-decoration: none;
  }

  section.works {
    display: flex;
    align-items: center;
    height: 496px;
    width: 1156px;
  }

  section.works.card-1,
  section.works.card-2,
  section.works.card-3,
  section.works.card-4,
  section.about {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .card-container-1 {
    margin: 24px 22px 24px 24px;
  }

  .grid-container-desktop {
    margin: 24px 22px 27px;
    padding: 24px;
  }

  .grid-container-desktop.order {
    order: -1;
  }

  div img.img-version-mobile {
    display: none;
  }

  div img.img-version-desktop {
    display: block;
  }

  div img.img-version-desktop:hover {
    display: block;
  }

  div.card-container-1 {
    display: flex;
    grid-row: 4fr;
    height: auto;
    width: auto;
    margin: 24px 22px 24px 24px;
  }

  div.card-container-2 {
    width: 684px;
    height: 360px;
  }

  div.grid-container-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .desktop-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .desktop-title1 {
    margin-bottom: 52px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .desktop-title2 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .title.experience {
    width: auto;
    height: auto;
    margin: 12px 16px;
  }

  h1.mobile-title {
    display: none;
  }

  h1.desktop-title {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: -87px;
  }

  h1.desktop-title1 {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: -18px;
  }

  h2.mobile-version-h2 {
    display: none;
  }

  h2.desktop-version-h2 {
    display: block;
    width: 106px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    margin-right: 0;
    margin-left: 0;
  }

  h2.desktop-version-h22 {
    display: block;
    width: 106px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    margin-right: 0;
  }

  .mobile-version-li {
    display: none;
  }

  .mobile-version-li2 {
    display: none;
  }

  .desktop-version-li2 {
    display: block;
  }

  .paragraph {
    width: auto;
    height: auto;
    margin: 17px;
  }

  p.mobile-para {
    display: none;
  }

  p.desktop-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: block;
  }

  ul.flex-icone {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .languages-list ul li {
    list-style-type: none;
    padding-bottom: 10px;
  }

  .flex-container-list {
    padding: 0;
    gap: 12px;
    width: 343px;
    height: 40px;
    margin-top: 10px;
  }

  .flex-container-list li:first-child {
    font-weight: 500;
    font-size: 18px;
    color: #344563;
    line-height: 24px;
    margin-left: 4px;
    margin-right: 20px;
  }

  .flex-container-list li:nth-child(2),
  ul li.desktop-version-li1 {
    list-style: disc;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #7a869a;
    margin-right: -2px;
    margin-left: 0;
  }

  .flex-container-list li:nth-child(2) {
    list-style: disc;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #7a869a;
    margin-right: -80px;
    margin-left: 0;
  }

  .flex-container-list li:last-child {
    list-style: disc;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #7a869a;
    margin-left: 110px;
  }

  .button-connect-about {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-decoration: none;
  }

  .about {
    display: grid;
    margin: 9px 24px;
    grid-template-columns: 1fr 1fr;
    column-gap: 160px;
    background: #fff;
    border-top-right-radius: 160px;
    width: 1398px;
    height: 924px;
    justify-items: start;
    justify-content: center;
    align-items: center;
  }

  .flex-lang li span {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    cursor: pointer;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .container.desktop {
    height: 577px;
    width: 801px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }

  .fav-js {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(50% - 48px / 2 - -97px);
    top: 3601px;
    border: 1px solid #fff;
  }

  .fav-html {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(50% - 48px / 2 - -254px);
    top: 3601px;
    border: 1px solid #fff;
  }

  .fav-css {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(50% - 48px / 2 - -410px);
    top: 3601px;
    border: 1px solid #fff;
  }

  span .label1 {
    display: block;
    margin-top: 69px;
    width: 98px;
    height: 24px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  span .label2 {
    display: block;
    margin-top: 69px;
    width: 98px;
    height: 24px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  span .label3 {
    display: block;
    margin-top: 69px;
    width: 98px;
    height: 24px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 1378px;
    height: 395px;
    margin-top: 124px;
  }

  .contact-form {
    width: 1378px;
    height: 846px;
    margin-top: -204px;
    background-color: #6070ff;
    padding: 80px 10px 10px;
    border-top-left-radius: 160px;
    text-align: center;
  }

  button {
    width: 142px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #6070ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    background: #fff;
    border-radius: 8px;
    color: #6070ff;
    letter-spacing: 0.03em;
  }

  .nav-links {
    display: none;
  }

  .container-desktop {
    background-image: url("./images/contact\ form\ background\ shapes.png");
    background-repeat: no-repeat;
    background-position-x: 64px;
    background-position-y: 52px;
    width: 1351.66px;
    height: 771.7px;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 118px;
    width: 1365px;
    height: 200px;
  }

  .contact-content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 155px;
    margin-bottom: -99px;
  }

  p.contact {
    font-weight: 400;
    font-size: 20px;
    height: 102px;
    width: 569px;
    line-height: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .name-container input {
    font-family: Poppins, sans-serif;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #fff;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    width: 447px;
    margin-top: 20px;
    height: 48px;
    padding-left: 5px;
  }

  .mail-container input {
    font-family: Poppins, sans-serif;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #fff;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    width: 447px;
    margin-top: 20px;
    height: 48px;
    padding-left: 5px;
  }

  .textarea-container textarea {
    font-family: Poppins, sans-serif;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #fff;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    width: 447px;
    margin-top: 20px;
    height: 170px;
    padding-left: 5px;
  }
}
